In [6]:
make = 'house', 'feaders'
print(make)

('house', 'feaders')

In [16]:
my_string = "Some random Strings"
print (my_string[-1])
len(my_string)
for x in my_string:
    print(x)

s
S
o
m
e

r
a
n
d
o
m

S
t
r
i
n
g
s

In [19]:
my_int = 12345
type(my_int)

int

In [54]:
first=  "boy"
second = "gril"
thrid = "boy"
s= first is not thrid
print(s)
id(second)

False

1435386941296

In [62]:
a = 10
b = 4 
bin(a)
bin_string = bin(a)
bin_string[2:]

bin(a ^ b)

'0b1110'

In [58]:
bin(4)
bin_string = bin(4)
bin_string [2:]

'100'

In [76]:
bin_a = bin(a)
bin_b = bin(b)
print(bin_a)
print(bin_b)
bin (a ^ b)

bin(-a)
bin_string = bin(-a)
bin_string[3:]

0b1010
0b100

'1010'

In [85]:
a = 10
c = +10
print (~a)
print (a | b)
bin (~a &255)

-11
14

'0b11110101'

In [95]:
a = 10
b = 1
print (bin(a))

print (bin(a >> b))

0b1010
0b101

In [98]:
2+10 * 5
2 + 10 and 5 > 10

True

LIST

In [229]:
my_list = [1, 2, 3, 4]
my_list2 = [1, "John", 4.5, [6, "boy"]]
type(my_list2)
my_list2[1]
my_list2[3][1]

'boy'

In [228]:
my_list.append(6)
my_list

[1, 2, 3, 4, 6, 6]

In [56]:
my_list3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c', 'd', 'e', 'f']
my_list3[-6:]
my_list3.append('g')
my_list3
my_list3.extend(['h','i','j'])
my_list3[-3:]
sub_my_list3 = my_list3[-3:] 
sub_my_list3 *3
my_list3.insert(9, 0)
del my_list3[9]
del my_list3[-4:]
my_list3.remove(9)
my_list3.pop(7)
my_list3[-1] = "j"
my_list3.clear
my_list3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c', 'd', 'e', 'f']
my_list_comp = [x for x in my_list3 if type(x) is int]
my_list_comp
#9 in my_list3
#9 not in my_list_comp

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
odd_list = [1,3,5]
even_list = [2,4,6]
odd_list + even_list

[1, 3, 5, 2, 4, 6]

TUPLES

In [37]:
my_tuple = (1,2,3,4,5)
my_tuple2 = (2,"John", 4.5, [6, 'BOY'],  ('SOME', 'tuple'))
my_tuple2
type(my_tuple2)
my_tuple3 = 1, 2, "big", "bold"
d , e, f, j = my_tuple3
some_tuple = "some_element",
type(some_tuple)
my_tuple2[1:4]
my_tuple2[3][1] = "girl"
my_sub_tuple = my_tuple2[-1]
my_sub_tuple*3
del my_sub_tuple

In [39]:
my_new_tuple = ('my', 'y', 'l', 'e', 't', 't', 'e', 'r')
my_new_tuple.count('t')
my_new_tuple.index('y')

1

In [41]:
my_list = [1,2,3]
my_tuple = tuple(my_list)
type(my_tuple)

tuple

Set

In [44]:
my_set = {1,2,3,4}
type(my_set)
my_empty_set = set()
type(my_empty_set)

set

In [54]:
my_set2 = (1,2, 'johanny',[4.5, 'sun'])
my_set3 = set(['son', 4.5])
my_set4 = {4,5,6,7}
my_set|my_set4
my_set.union(my_set4)

{1, 2, 3, 4, 5, 6, 7}

In [60]:
print(my_set.intersection(my_set4))
my_set&my_set4

print(my_set-my_set4)
my_set.difference(my_set4)
print(my_set^my_set4)
my_set.symmetric_difference(my_set4)

{4}
{1, 2, 3}
{1, 2, 3, 5, 6, 7}

{1, 2, 3, 5, 6, 7}

Dictionary

In [88]:
my_dict = {
    "boy": "games",
    "girl":"Jenifer"
}
my_dict
my_dict2 = {
    "city": "Los Angeles",
    "country":"United State"
}
my_dict2['city']
my_dict['boy']
my_dict2.get('country')
#my_dict2['continent']
my_dict2.get("continent", "Africa")
my_dict2['continent'] = 'Nort America'
my_dict2["city"] = "New York"
my_dict.popitem()
('girl','jenifer')
my_dict2.pop("country")
my_dict.clear

In [96]:
my_dict3 = {
    "numbers" : [1,2,3,4],
    "strings": "This is a string",
    "float": 4.5
}
my_list_dic = {k:v for (k,v) in my_dict3.items() if type(v) is list}
my_list_dic

{'numbers': [1, 2, 3, 4]}

Flow control:if else statement

In [101]:
a = 5
b = 10
if a > b:
    print("a is grater than b")
else:
    print("b is grater than a")

b is grater than a

In [103]:
a = 30
if a > 20:
    print("a is greater than 20")
elif a < 5:
    print("a is less than 5")
else:
    print(f"{a} is neither greather than 20 nor less than 5")

a is greater than 20

Flow control: For loop

In [107]:
names = ["James", "John", "Fusion", "Festus", "Tina"]
for name in names:
    if name.startswith("F"):
        print (name)

Fusion
Festus

In [124]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for x in numbers:
    if x %2 != 0:
        print(f"{x} This are odd no");

1 This are odd no
3 This are odd no
5 This are odd no
7 This are odd no
9 This are odd no

In [130]:
for i in range(11):
    if i %2 !=0:
        print(i)
        
list(range (1, 11, 2))

1
3
5
7
9

[1, 3, 5, 7, 9]

Flow Control: Break,Continue and Pass

In [176]:
num = input("Enter number: ")   
number = int(num)
condition = 0
count = 2
iteration = 0
while iteration <= number / 2:
    if number % count ==0:
        print(f"condition met at iteration = {iteration}")
        condition =1
        break
    iteration +=1 
if condition ==0:
    print(f"{number} is a prime number")
else:
   print(f"{number} is not a prime number")

ValueError: invalid literal for int() with base 10: ''

In [149]:
names = ("James", "Joseph", "john", "Peter", "james", "John")
unique = set()
for name in names:
    if name.islower():
        unique.add(name)
        continue
    unique.add(name.lower())
print(unique)

{'joseph', 'james', 'john', 'peter'}

In [151]:
if 2>3:
    pass
print('hello')

hello

Functions

In [157]:
def my_func():
    print("this is my 1st function")
my_func()

this is my 1st function

In [177]:
def check_prime_no(num):
    number = int(num)
condition = 0
count = 2
iteration = 0
while iteration <= number / 2:
    if number % count ==0:
        print(f"condition met at iteration = {iteration}")
        condition =1
        break
    iteration +=1 
if condition ==0:
    print(f"{number} is a prime number")
else:
   print(f"{number} is not a prime number") 
   
check_prime_no(45)

condition met at iteration = 0
2 is not a prime number

In [183]:
def add_num(*args):
    final_num = 0
    print(f" Type of arument is:{type(args)}")
    for num in args:
        final_num += num
    return final_num
print(add_num(1,2,3,4, 5,6,7,8,9))

 Type of arument is:<class 'tuple'>
45

In [190]:
def calc_num(num1, **nums):
    print(f" Type of argument is:{type(nums)}")
    num2 = nums.get("num2")
    num3 = nums.get("num3")
    final_num = 0
    for k,v in nums.items():
        final_num +=v
    return final_num
print(calc_num(1, num3=2, num2=7, num4=3, num5=6))

 Type of argument is:<class 'dict'>
18

lambda function

In [191]:
my_var = lambda: print("i am a lambda function")
my_var()

i am a lambda function

In [195]:
my_var3 = lambda name:print(f"I am {name}, a function")
my_var3("lambda")

I am lambda, a function

OOP CLASS

In [216]:
class Car:
    wheels = 4
    def __init__(self, model, colour):
        self.model = model
        self.colour = colour
        
    def display_info(self):
        print(f"My car is a {self.colour} {self.model}")
        
    def change_colour(self, colour):
        self.colour = colour
        
my_car = Car(model = "Toyota",colour = "Blue")
print(my_car.display_info())
my_car.change_colour("white")
print("my_car.display_info()")

My car is a Blue Toyota
None
my_car.display_info()

In [223]:
my_3 = [1,2,3,4]
my_2 = [5,6,7]

my_3.append(6)